<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.unmsm.sistemas.segsil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.BienvenidoActivity" />
        <activity android:name=".activities.admin.AdminActivity" />
        <activity android:name=".activities.silabus.MenuSilabusActivity" />
        <activity android:name=".activities.avance.MenuAvanceActivity" />
        <activity android:name=".activities.control.MenuControlActivity" />
        <activity android:name=".activities.silabus.RegistrarSilabusActivity" />
        <activity android:name=".activities.silabus.UnidadActivity" />
        <activity android:name=".activities.silabus.TemaActivity"></activity>
    </application>

</manifest>