<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pe.edu.unmsm.sistemas.segsil">

    <!-- Permisos necesarios para el correcto funcionamiento de la Aplicacion -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BienvenidoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.admin.AdminActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.silabus.MenuSilabusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.silabus.RegistrarSilabusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.silabus.UnidadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.silabus.TemaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.silabus.ActividadesActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".activities.avance.RegistrarAvanceActivity"
            android:label="REGISTRO DE AVANCE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.avance.MenuAvanceActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".activities.control.MenuVerificarAvanceActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".activities.control.MenuVerificarSilabusActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="VERIFICAR SILABUS"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".activities.control.VerificarAvanceActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="VERIFICAR AVANCE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity android:name=".activities.control.VerificarSilabusActivity" />
        <activity android:name=".activities.control.DetalleCurso" />
        <activity android:name=".activities.admin.PantallaAdmin" />
        <activity android:name=".activities.admin.Revision" />
        <activity android:name=".activities.silabus.PantallaCoordinador"></activity>
    </application>

</manifest>